<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Strings</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="backstring()" class="mx-2" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p class="mt-2">Strings in python are surrounded by either single quotation marks, or double quotation marks.</p>
    <p><span style="color: red;">'hello'</span> is the same as <span style="color: red;">"hello"</span>.</p>
    <p>You can display a string literal with the <span style="color: red;">print()</span> function:</p>
    <ion-card class="p-3">
      <ion-card-title><h3>Example</h3></ion-card-title>
      <pre>
        print("Hello")
        print('Hello')
      </pre>
    </ion-card>
    <h1 class="text-primary mt-2">Multiline Strings</h1><hr>
    <p>You can assign a multiline string to a variable by using three quotes:</p>
    <ion-card class="p-3">
    <ion-card-title><h3>Example</h3></ion-card-title>
    <pre>
      a = """Lorem ipsum dolor sit amet,
      consectetur adipiscing elit,
      sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua."""
      print(a)
    </pre>
  </ion-card>
  <h1 class="text-primary mt-2">Strings are Arrays</h1><hr>
  <p>Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.</p>
  <p>However, Python does not have a character data type, a single character is simply a string with a length of 1.</p>
  <p>Square brackets can be used to access elements of the string.</p>
  <ion-card class="p-3">
    <ion-card-title><h3>Example</h3></ion-card-title>
    <pre>
      a = "Hello, World!"
      print(a[1])
      output :
      e
    </pre>
  </ion-card>
  <h1 class="text-primary mt-2">Looping Through a String</h1><hr>
  <p>Since strings are arrays, we can loop through the characters in a string, with a for loop.</p>
  <ion-card class="p-3">
    <ion-card-title><h3>Example</h3></ion-card-title>
    <pre>
      for x in "banana":
         print(x)
      
      Output :
      b
      a
      n
      a
      n
      a
    </pre>
  </ion-card>
  <h1 class="text-primary mt-2">Slicing String</h1><hr>
  <p align="justify">You can return a range of characters by using the slice syntax. 
    Specify the start index and the end index, separated by a colon, to return a part of the string.</p>
    <ion-card class="p-3">
      <ion-card-title><h3>Example</h3></ion-card-title>
      <pre>
        b = "Hello, World!"
        print(b[2:5])
        Output :
        llo
      </pre>
    </ion-card>
    <h1 class="text-primary mt-2">Modify Strings</h1><hr>
    <p align="justify">Python has a set of built-in methods that you can use on strings.</p>
    <h1 class="text-primary mt-2">Upper Case</h1><hr>
    <p align="justify">The upper() method returns the string in upper case:</p>
    <ion-card class="p-3">
      <ion-card-title><h3>Example</h3></ion-card-title>
      <pre>
        a = "Hello, World!"
        print(a.upper())
        OutPut :
        HELLO, WORLD!
      </pre>
    </ion-card>
    <h1 class="text-primary mt-2">Lower Case</h1><hr>
    <p align="justify">The lower() method returns the string in Lower case:</p>
    <ion-card class="p-3">
      <ion-card-title><h3>Example</h3></ion-card-title>
      <pre>
        a = "HELLO, WORLD!"
        print(a.lower())
        OutPut :
        hello, world!
      </pre>
    </ion-card>
    <h1 class="text-primary mt-3">Remove Whitespace</h1><hr>
    <p align="justify">Whitespace is the space before and/or after the actual text, and very often you want to remove this space.
      The strip() method removes any whitespace from the beginning or the end:
    </p>
    <ion-card class="p-3">
      <ion-card-title><h3>Example</h3></ion-card-title>
      <pre>
        a = " Hello, World! "
        print(a.strip()) # returns "Hello, World!"
      </pre>
    </ion-card>
    <h1 class="text-primary mt-2">Replace String</h1><hr>
    <p align="justify">The replace() method replaces a string with another string:</p>
    <ion-card class="p-3">
      <ion-card-title><h3>Example</h3></ion-card-title>
      <pre>
        a = "Hello, World!"
        print(a.replace("H", "J"))
        OutPut :
        Jello, World!
      </pre>
    </ion-card>
    <h1 class="text-primary mt-2">Split String</h1><hr>
    <p align="justify">The split() method returns a list where the text between the specified separator becomes the list items.</p>
    <ion-card class="p-3">
      <ion-card-title><h3>Example</h3></ion-card-title>
      <pre>
        a = "Hello, World!"
        print(a.split(",")) 
        # returns ['Hello', ' World!']
      </pre>
    </ion-card>
    <h1 class="text-primary mt-2">String Concatenation</h1><hr>
    <p align="justify">To concatenate, or combine, two strings you can use the + operator.</p>
    <ion-card class="p-3">
      <ion-card-title><h3>Example</h3></ion-card-title>
      <pre>
        a = "Hello"
        b = "World"
        c = a + b
        print(c)
        Output :
        HelloWorld
      </pre>
    </ion-card>
    <h1 class="text-primary mt-2">Escape Characters</h1><hr>
    <p align="justify">To insert characters that are illegal in a string, use an escape character.
      An escape character is a backslash \ followed by the character you want to insert.</p>
    <ion-card class="p-3">
      <ion-card-title><h3>Example</h3></ion-card-title>
      <pre>
        txt = "We are the so-called \"Vikings\" from the north."
        \'	Single Quote	
        \\	Backslash	
        \n	New Line	
        \r	Carriage Return	
        \t	Tab	
        \b	Backspace	
        \f	Form Feed	
        \ooo	Octal value	
        \xhh	Hex value
      </pre>
    </ion-card>
    <ion-row class="my-2">
      <ion-col><ion-button  onclick="window.open('https://www.youtube.com/watch?v=cVv7WvOkHEI,_system,Location=yes');return false;">Tamil Video</ion-button></ion-col>
      <ion-col></ion-col>
      <ion-col><ion-button  onclick="window.open('https://www.youtube.com/watch?v=lSItwlnF0eU,_system,Location=yes');return false;">English Video</ion-button></ion-col>
    </ion-row>
    <ion-grid>
      <ion-row>
        <ion-col><ion-button color="primary" style="margin-bottom: 20px;" (click)="strToback()">Previous</ion-button></ion-col>
        <ion-col></ion-col>
        <ion-col><ion-button color="primary" style="margin-bottom: 20px;" (click)="strToNext()">Next</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title size="small">GnanTechies</ion-title>
  </ion-toolbar>
</ion-footer>