<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Introduction</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="back()" class="mx-2" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <h1 class="text-primary">What is Python ?</h1><hr>
  <p align="justify">&nbsp;&nbsp; Python is a popular programming language.It was created by <b>Guido van Rossum</b> , and released in 1991.</p>
  <b>It is used for:</b>
  <ol>
    <li>web development (server-side),</li>
    <li>software development,</li>
    <li>mathematics,</li>
    <li>system scripting.</li>
  </ol>
  <h1 class="mt-4 text-primary">What can Python do?</h1><hr>
  <ol>
    <li>Python can be used on a server to <b>create web applications</b> .</li>
    <li>Python can be used alongside software to <b>create workflows</b> .</li>
    <li>Python can connect to database systems. It can also <b>read</b> and <b>modify files</b> .</li>
    <li>Python can be used to handle <b>big data</b> and <b>perform complex mathematics</b> .</li>
    <li>Python can be used for <b>rapid prototyping</b> , or for <b>production-ready software development</b> .</li>
  </ol>
  <h1 class="mt-4 text-primary">Why Python?</h1><hr>
  <ol>
    <li>Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).</li>
    <li>Python has a simple syntax similar to the English language.</li>
    <li>Python has syntax that allows developers to write programs with fewer lines than some other programming languages.</li>
    <li>Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.</li>
    <li>Python can be treated in a procedural way, an object-oriented way or a functional way.</li>
  </ol>
  <h1 class="mt-4 text-primary">Syntax Comparison</h1><hr>
  <ol>
    <li>Python was designed for readability, and has some similarities to the English language with influence from mathematics.</li>
    <li>Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.</li>
    <li>Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.</li>
  </ol>
  <ion-row>
    <ion-col><ion-button  onclick="window.open('https://www.youtube.com/watch?v=bkv57DZaIL4,_system,Location=yes');return false;">Tamil Video</ion-button></ion-col>
    <ion-col></ion-col>
    <ion-col><ion-button  onclick="window.open('https://www.youtube.com/watch?v=J0Aq44Pze-w,_system,Location=yes');return false;">English Video</ion-button></ion-col>
  </ion-row>
<ion-row>
  <ion-col></ion-col>
<ion-col>  <ion-button color="primary" style="margin-bottom: 20px;" (click)="hisToSyntax()">Next</ion-button></ion-col>
<ion-col></ion-col>
</ion-row>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
   <ion-title size="small">CodeBytes</ion-title>
  </ion-toolbar>
</ion-footer>