<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Functions</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="backfunc()" class="mx-2" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container mt-3">
  <p align="justify">A function is a block of code which only runs when it is called.</p>
  <p align="justify">You can pass data, known as parameters, into a function.</p>
  <p align="justify">A function can return data as a result.</p>
  <h1 class="text-primary mt-3">Creating a Function</h1><hr>
  <p align="justify">In Python a function is defined using the def keyword:</p>
  <ion-card class="p-3">
    <h3>Example</h3>
<pre>
  def my_function():
     print("Hello from a function")
</pre>
  </ion-card>
  <h1 class="text-primary mt-3">Calling  Function</h1><hr>
  <p align="justify">To call a function, use the function name followed by parenthesis:</p>
  <ion-card class="p-3">
    <h3>Example</h3>
<pre>
  def my_function():
     print("Hello from a function")
  my_function()
</pre>
  </ion-card>
  <h1 class="text-primary mt-3">Arguments</h1><hr>
  <p align="justify">Information can be passed into functions as arguments.</p>
  <p align="justify">Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.</p>
  <p align="justify">The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:</p>
  <ion-card class="p-3">
    <h3>Example</h3>
<pre>
  def my_function(fname):
    print(fname + " Refsnes")

  my_function("Emil")
  my_function("Tobias")
  my_function("Linus")

  output :
  EmilRefsnes
  TobiansRefsnes
  LinusRefsnes
</pre>
  </ion-card>
  <h1 class="text-primary mt-3">Number Of Arguments</h1><hr>
  <p align="justify">By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.</p>
  <ion-card class="p-3">
    <h3>Example</h3>
<pre>
  def my_function(fname, lname):
  print(fname + " " + lname)
  my_function("Emil", "Refsnes")
  output :
  EmilRefsnes
</pre>
  </ion-card>
  <h1 class="text-primary mt-3">Arbitrary Arguments, *args</h1><hr>
  <p align="justify">If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.
    This way the function will receive a tuple of arguments, and can access the items accordingly:</p>
  <ion-card class="p-3">
    <h3>Example</h3>
<pre>
  def my_function(*kids):
     print("The youngest child is " + kids[2])
  my_function("Emil", "Tobias", "Linus")
  output :
  The youngest child is Linus
</pre>
  </ion-card>
  <h1 class="text-primary mt-3">Keyword Arguments</h1><hr>
  <p align="justify">You can also send arguments with the key = value syntax.
    This way the order of the arguments does not matter.</p>
  <ion-card class="p-3">
    <h3>Example</h3>
<pre>
  def my_function(child3, child2, child1):
     print("The youngest child is " + child3)
  my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")
  output :
  The youngest child is Linus
</pre>
  </ion-card>
  <h1 class="text-primary mt-3">Arbitrary Keyword Arguments, **kwargs</h1><hr>
  <p align="justify">If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.</p>
  <ion-card class="p-3">
    <h3>Example</h3>
<pre>
  def my_function(**kid):
     print("His last name is " + kid["lname"])
  my_function(fname = "Tobias", lname = "Refsnes")
  output:
  His last name is Refsnes
</pre>
  </ion-card>
  <h1 class="text-primary mt-3">Default Parameter Value</h1><hr>
  <p align="justify">The following example shows how to use a default parameter value.
    If we call the function without argument, it uses the default value:</p>
  <ion-card class="p-3">
    <h3>Example</h3>
<pre>
  def my_function(country = "Norway"):
     print("I am from " + country)
  my_function("Sweden")
  my_function("India")
  my_function()
  my_function("Brazil")
  output :
  I am from Sweden
  I am from India
  I am from Norway
  I am from Brazil
</pre>
  </ion-card>
  <h1 class="text-primary mt-3">Passing a List as an Argument</h1><hr>
  <p align="justify">You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.</p>
  <ion-card class="p-3">
    <h3>Example</h3>
<pre>
  def my_function(food):
  for x in food:
    print(x)
  fruits = ["apple", "banana", "cherry"]
  my_function(fruits)
  output :
  "apple"
  "banana"
  "cherry"
</pre>
  </ion-card>
  <h1 class="text-primary mt-3">Return Value</h1><hr>
  <p align="justify">To let a function return a value, use the return statement:</p>
  <ion-card class="p-3">
    <h3>Example</h3>
<pre>
  def my_function(x):
     return 5 * x

  print(my_function(3))
  print(my_function(5))
  print(my_function(9))
  output :
  15
  25
  45
</pre>
  </ion-card>
  <h1 class="text-primary mt-3">Pass</h1><hr>
  <p align="justify">function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.</p>
  <ion-card class="p-3">
    <h3>Example</h3>
<pre>
  def myfunction():
     pass
</pre>
  </ion-card>
  <h1 class="text-primary mt-3">Recursion</h1><hr>
  <p align="justify">Python also accepts function recursion, which means a defined function can call itself.

    Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.</p>
  <p align="justify">The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.</p>
  <p align="justify">In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).</p>
  <p align="justify">To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.</p>
  <ion-card class="p-3">
    <h3>Example</h3>
<pre>
  def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

  print("\n\nRecursion Example Results")
  tri_recursion(6)
</pre>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col><ion-button color="primary" style="margin-bottom: 20px;" (click)="funcToback()">Previous</ion-button></ion-col>
      <ion-col></ion-col>
      <ion-col><ion-button color="primary" style="margin-bottom: 20px;" (click)="funcToNext()">Next</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title size="small">CodeBytes</ion-title>
  </ion-toolbar>
</ion-footer>