<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Data Types</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="backDataType()" class="mx-2" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <h1 class="text-primary">Built-in Data Types</h1><hr>
  <ol>
    <li>In programming, data type is an important concept.</li>
    <li>Variables can store data of different types, and different types can do different things.</li>
    <li>Python has the following data types built-in by default, in these categories:</li>
  </ol>
  <ion-card class="p-3">
    <pre>
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
    </pre>
  </ion-card>
  <h1 class="text-primary mt-3">Getting the Data Type</h1><hr>
  <p>You can get the data type of any object by using the <span style="color: red;">type()</span> function:</p>
  <ion-card class="p-3">
    <ion-card-title><h1>Example</h1></ion-card-title>
    Print the data type of the variable x: <br>
    x = 5 <br>
    print(type(x)) <br>
    <b>Output :</b><br>int
  </ion-card>
  <ion-row class="my-2">
    <ion-col><ion-button  onclick="window.open('https://www.youtube.com/watch?v=iLCGVAkroig,_system,Location=yes');return false;">Tamil Video</ion-button></ion-col>
    <ion-col></ion-col>
    <ion-col><ion-button  onclick="window.open('https://www.youtube.com/watch?v=gCCVsvgR2KU,_system,Location=yes');return false;">English Video</ion-button></ion-col>
  </ion-row>
</div>
<ion-grid>
  <ion-row>
    <ion-col><ion-button color="primary" style="margin-bottom: 20px;" (click)="dtToback()">Previous</ion-button></ion-col>
    <ion-col></ion-col>
    <ion-col><ion-button color="primary" style="margin-bottom: 20px;" (click)="dtToNext()">Next</ion-button></ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title size="small">CodeBytes</ion-title>
  </ion-toolbar>
</ion-footer>