<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Variables</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="backVar()" class="mx-2" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <h1 class="text-primary">Variables</h1><hr>
  <p align="justify">Variables are containers for storing data values.</p>
  <h1 class="text-primary mt-2">Variable Names</h1><hr>
  <ol>
    <li>A variable name must start with a letter or the underscore character</li>
    <li>A variable name cannot start with a number</li>
    <li>A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )</li>
    <li>Variable names are case-sensitive (age, Age and AGE are three different variables)</li>
  </ol>
  <h1 class="text-primary mt-2">Creating Variables</h1><hr>
  <p align="justify">Python has no command for declaring a variable.</p>
  <p align="justify">A variable is created the moment you first assign a value to it.</p>
  <ion-card class="p-3">
    <ion-card-title><h3>Example</h3></ion-card-title>
      <pre>
      x = 5 
      y = "John" 
      print(x)    #output : 5
      print(y)    #output : John
      </pre>
  </ion-card>
  <h1 class="text-primary">Casting</h1><hr>
  <p align="justify">If you want to specify the data type of a variable, this can be done with casting.</p>
  <ion-card class="p-3">
    <ion-card-title><h3>Example</h3></ion-card-title>
      <pre>
        x = str(3)    # x will be '3'
        y = int(3)    # y will be 3
        z = float(3)  # z will be 3.0
      </pre>
  </ion-card>
  <ion-row class="my-2">
    <ion-col><ion-button  onclick="window.open('https://www.youtube.com/watch?v=UIc1m7xsHwc,_system,Location=yes');return false;">Tamil Video</ion-button></ion-col>
    <ion-col></ion-col>
    <ion-col><ion-button  onclick="window.open('https://www.youtube.com/watch?v=TqPzwenhMj0,_system,Location=yes');return false;">English Video</ion-button></ion-col>
  </ion-row>
  <ion-grid>
    <ion-row>
      <ion-col><ion-button color="primary" style="margin-bottom: 20px;" (click)="VarToback()">Previous</ion-button></ion-col>
      <ion-col></ion-col>
      <ion-col><ion-button color="primary" style="margin-bottom: 20px;" (click)="VarToNext()">Next</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title size="small">GnanTechies</ion-title>
  </ion-toolbar>
</ion-footer>