<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Topics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <ion-list>
    <ion-item>
      <ion-label (click)="intro()">Intro</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="syntax()">Syntax</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="variables()">Variables</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="dataType()">DataType</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="number()">Numbers</ion-label>
    </ion-item>
  </ion-list>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title size="small">CodeBytes</ion-title>
    </ion-toolbar>
</ion-footer>