<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Topics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <ion-list>
    <ion-item>
      <ion-label (click)="intro()">Introduction</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="syntax()">Syntax</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="variables()">Variables</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="comment()">Comments</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="dataType()">DataType</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="number()">Numbers</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="string()">Strings</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="boolean()">Booleans</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="pyOp()">Operators</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="list()">Lists</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="tuple()">Tuples</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="set()">Sets</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="dict()">Dictionary</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="ifel()">If..Else..</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="whil()">While Loop</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="pyfor()">For Loop</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="pyfunc()">Function</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="pyarray()">Array</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="clsobj()">Class/Object</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="pyinheritance()">Inheritance</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="pyiterator()">Iterators</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="pyscope()">Scope</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="pymodule()">Module</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="pymath()">Math Functions</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="pyui()">User Input</ion-label>
    </ion-item>
  </ion-list>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title size="small">GnanTechies</ion-title>
    </ion-toolbar>
</ion-footer>